################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Main/MyHistory/bin/VS2017_Debug
/Main/MyHistory/obj
/Main/packages
